
<div class="container">
        
    <form [formGroup]="newContactForm" (ngSubmit)="submitContact()">
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="col-md-2">
                <a routerLink="/home">Home</a>
            </li>
        </ul>
        <div><h2>Add new contact</h2></div>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Age" formControlName="age">
        </div>
        <div class="col-md-5">
<my-date-picker name="birthDate" [options]="myDatePickerOptions" formControlName="birthDate"></my-date-picker>
        </div>
                <div class="col-md-5">
                        <input type="text" class="form-control" placeholder="Image" formControlName="img">
                    </div>
        <div class="col-md-5">
            <button type="submit" class="btn btn-primary" style="float: right;">Add</button>
        </div>
    </div>
</form> </div>