<div class="container">
  <div class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="edit">Edit</a>
    </li>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>

</div>