<div class="container">
        <div>
                <h2>Contact info</h2>
            </div>
    <div>
            <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Birth Date</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        <tr>

            <td>{{id}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{age}}</td>
            <td>{{birthDate | date: "dd/MM/yyyy"}}</td>
            <td>
                <img [attr.src]="img" height="50px" width="70px">
            </td>
            <div class="">
                <button type="button" class="btn btn-success" (click)="editContacts(id)">Edit</button>
                <button type="button" class="btn btn-danger" (click)="deleteContact(id)">X</button>
            </div>
        </tr>

    </tbody>
</table> </div></div>