<div class="container">

  <h1 style="text-align: center; font-family: serif;">Welcome to contacts app</h1>
</div>
<div class="buttonContinue">
    <button class="btn btn-info"  routerLink="home" type="button">Continue to contacts</button>
  </div>