<div class="container">
    <div><h2>Edit contact</h2></div>
    <form [formGroup]="editContactForm" (ngSubmit)="saveContact()">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="text" name = "age" class="form-control" placeholder="Age" formControlName="age">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="image" formControlName="img">
            </div>
            <div class="col-md-6">
                <my-date-picker name="birthDate" [options]="myDatePickerOptions" formControlName="birthDate" required></my-date-picker>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" style="float: right;">Edit</button>
            </div>
        </div>
    </form>
</div>