<div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="">Welcome</a>
            </li>
            <li class="nav-item">
                <a (click)="addContacts(contact)">Add new contact</a>
            </li>
        </ul>
        <input placeholder="search" [(ngModel)]="Search">
        <table class="table">
            <thead>
                <tr>
                    <th></th> 
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Birth Date</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contactsModel.contacts | searchPipe:Search">
                    <!-- ngModel komunicira sa ngfor iznad a ng for komunicira sa logikom iz ts -->
                    <button type="button" class="btn btn-primary" (click)="openContacts(contact.id)">Select</button>
                    <td>{{contact.id}}</td>
                    <td>{{contact.firstName}}</td>
                    <td>{{contact.lastName}}</td>
                    <td>{{contact.age}}</td>
                    <td>{{contact.birthDate | date: "dd/MM/yyyy" }}</td>
                    <td>
                        <img [attr.src]="contact.img" height="50px" width="70px">
                    </td>
                    <div class="">
                        <button type="button" class="btn btn-success" (click)="editContacts(contact.id)">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="deleteContact(contact.id)">X</button>
                    </div>
    
                </tr>
            </tbody>
        </table>
    </div>